*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Montserrat',sans-serif;
background:#111;
color:white;
overflow-x:hidden;
}

/* PORTADA */

#welcome-screen{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.65)),
url("portada.jpg");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

}

.overlay{
padding:30px;
}

.hero-title{

font-family:'Playfair Display',serif;

font-size:clamp(3rem,10vw,6rem);

letter-spacing:3px;

text-shadow:
0 0 10px rgba(255,255,255,.5),
0 0 20px rgba(255,255,255,.2);

}

.hero-text{

margin-top:20px;

font-size:clamp(1rem,3vw,1.3rem);

max-width:700px;

}

.hero-date{

margin-top:25px;

font-size:1.1rem;

letter-spacing:2px;

}

.main-button,
.secondary-button{

margin-top:30px;

border:none;

border-radius:30px;

padding:14px 28px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.main-button{
background:#f5f5f5;
}

.secondary-button{
background:#d8d8d8;
}

.main-button:hover,
.secondary-button:hover{

transform:scale(1.05);

}

/* CONTENIDO */

#invitation-content{
display:none;
padding:30px 15px 80px;
}

.card{

width:min(92%,700px);

margin:25px auto;

padding:30px;

border-radius:25px;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(10px);

border:
1px solid rgba(255,255,255,.12);

text-align:center;

}

.card h2{
margin-bottom:20px;
}

.countdown{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

}

.time-box{
min-width:90px;
}

.time-number{

font-size:2rem;

font-weight:bold;

}

.map{

margin-top:20px;

width:100%;

height:320px;

border:none;

border-radius:15px;

}

.fade{
opacity:0;
transform:translateY(50px);
transition:1s;
}

.fade.show{
opacity:1;
transform:translateY(0);
}

/* BOTÓN MÚSICA */

#music-btn{

position:fixed;

bottom:20px;

right:20px;

width:60px;

height:60px;

border-radius:50%;

border:none;

cursor:pointer;

font-size:24px;

background:
rgba(255,255,255,.15);

color:white;

backdrop-filter:blur(10px);

z-index:9999;

}

footer{

text-align:center;

margin-top:50px;

opacity:.7;

}

@media(max-width:768px){

.card{
    padding:20px;
}

.map{
    height:250px;
}

.time-box{
    min-width:70px;
}

.time-number{
    font-size:1.5rem;
}

}


.photo-gallery{display:grid;grid-template-columns:repeat(3,1fr);gap:10px;margin:-5px 0 22px}.photo-gallery img{width:100%;aspect-ratio:1/1;object-fit:cover;border-radius:14px;display:block;box-shadow:0 4px 10px rgba(0,0,0,.25)}@media(max-width:768px){.photo-gallery{gap:8px}.photo-gallery img{border-radius:10px}}